@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);

#ddmenu {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #333333;
    border-bottom: 4px solid #1b9bff;
    font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
    font-size: 12px;
}

#ddmenu ul,
#ddmenu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#ddmenu ul {
    position: relative;
    z-index: 597;
    text-transform: uppercase;
}

#ddmenu>ul {
    *display: inline-block;
}

#ddmenu:after,
#ddmenu ul:after {
    content: '';
    display: block;
    clear: both;
}

#ddmenu ul li {
    float: left;
    min-height: 1px;
    vertical-align: middle;
}
#ddmenu ul li.hover,
#ddmenu ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}

#ddmenu>ul>li>a {
    line-height: 48px;
}

#ddmenu ul ul li:first-child>a {
    border-top: 1px solid #0082e7;
}

#ddmenu ul li:hover>a,
#ddmenu ul li.active>a {
    background-color: #1b9bff;
    color: #FFF;
}

#ddmenu ul li.has-sub>a:after {
    content: '+';
    margin-left: 5px;
}

#ddmenu ul li.last ul {
    left: auto;
    right: 0;
}

#ddmenu ul li.last ul ul {
    left: auto;
    right: 99.5%;
}








div.menuscroller {
    height: 400px;
    max-height: 400px;
    overflow: scroll;
}








#ddmenu ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%;
    border-top: 4px solid #1b9bff;
    text-transform: none;
    min-width: 190px;
}

#ddmenu ul ul li {
    float: none;
}

#ddmenu ul ul a {
    background-color: #1b9bff;
    color: #FFFFFF;
    border: 1px solid #0082e7;
    border-top: 0 none;
    line-height: 150%;
    padding: 16px 20px;
}

#ddmenu ul ul li:hover>a {
    background-color: #35a6ff;
}

#ddmenu ul ul li:last-child>a {
    border-radius: 0 0 3px 3px;
    box-shadow: 0 1px 0 #1b9bff;
}
#ddmenu ul ul li:last-child:hover>a {
    border-radius: 0 0 0 3px;
}
#ddmenu ul ul li.has-sub>a:after {
    content: '+';
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -8px;
}





#ddmenu ul ul ul {
    top: 0;
    left: auto;
    right: -99.5%;
    border-top: 0 none;
}

#ddmenu ul li:hover>ul {
    visibility: visible;
}

#ddmenu ul ul {
    bottom: 0;
    left: 0;
}

#ddmenu ul ul {
    margin-top: 0;
}

#ddmenu ul ul li {
    font-weight: normal;
    position: relative;
}

#ddmenu a {
    display: block;
    line-height: 1em;
    text-decoration: none;
    background-color: #333333;
    color: #CBCBCB;
    padding: 0 20px;
}
